:root{
    --color_cambioAceite: red;
    --color_cambioCorrea: yellow;
    --color_serviceCompleto: brown;
    --color_lavado: green;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);

}

.titulo_grafico{
    margin-top: 100px;
    
}