/* Estilo para la página de Listado De Marcas */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #007bff;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Estilo para el mensaje de "No existen marcas hasta el momento" */

.no-marcas-message {
    text-align: center;
    margin: 20px;
    font-weight: bold;
    color: #007bff;
}
.boton {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        background-color: #007bff;
        color: #ffffff;
        border: 1px solid #007bff;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .boton:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    
   
    /* Estilos para el cuadro de búsqueda */
    #nombre {
        padding: 7px;
        border: 2px solid #ccc;
        border-radius: 10px;
        margin-right: 8px;
    }

    /* Estilos para el botón de búsqueda */
    #buscarBtn {
        padding: 8px 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #buscarBtn:hover {
        background-color: #45a049;
    }
    
    #searchContainer {
    text-align: center; /* Alinea el contenido al centro */
    margin-top: 10px;   /* Agrega margen superior para separar del contenido superior */
    }

    #searchForm {
        display: inline-block; /* Hace que el formulario sea un bloque en línea */
    }

    #nombre {
        width: 200px; /* Ajusta el ancho del campo de entrada según sea necesario */
    }