<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadistica Servicio</title>
    <link rel="stylesheet" href="../static/css/graficoStyles.css">
</head>
<body>
    <h1 class="titulo_grafico">Porcentaje de uso de los servicios</h1>
    <section class="container_grafico">
        <div class="grafico">
            <div class="container_leyenda">
                <span class="leyenda_all">
                    <span class="cambioAceite"></span>
                    <p class="social">40% Cambio de Aceite</p>
                </span>
                <span class="leyenda_all">
                    <span class="cambioCorrea"></span>
                    <p class="social">30% Cambio de Correa</p>
                </span>
                <span class="leyenda_all">
                    <span class="serviceCompleto"></span>
                    <p class="social">18% Service Completo</p>
                </span>
                <span class="leyenda_all">
                    <span class="lavado"></span>
                    <p class="social">12% Lavado</p>
                </span>
                <p class="total">Total: 1.000.000.000</p>
            </div>
        </div>
    </section>

</body>
</html>