<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Gestion Taller Mecanico</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">

    </head>
    <body>
        <h1>Gestion Taller Mecanico</h1>
        <a th:href="@{/marca}">Marca</a>
        <a th:href="@{/modelo}">Modelo</a>
        <a th:href="@{/vehiculo}">Vehiculo</a>
        <a th:href="@{/tecnico}">Tecnico</a>
        <a th:href="@{/cliente}">Cliente</a>
        <a th:href="@{/servicio}">Servicio</a>
        <a th:href="@{/ordenDeTrabajo}">Orden de trabajo</a>

        
    </body>
</html>
