<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nueva marca</title>
    <link rel="stylesheet" type="text/css" href="/css/modificarMarcaStyles.css">
</head>
<body>
    <h1>Datos de la nueva marca</h1>
    <a th:href="@{/marca}">Volver</a>
    <a th:href="@{/}">Inicio</a>

    <form id="addMarca" th:action="@{/marca/modificar/{id}}" method="post" th:object="${marca}">
        <input type="hidden" th:field="*{id}" name="id" />
        
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:value="${marca.nombre}"/>
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
        <span th:if="${error}" th:text="${error}"></span>

        <label for="estado">Estado:</label>
        <select id="estado" name="estado" form="addMarca" th:value="${marca.estado}">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>

        <input type="submit" id="modificar" name="modificar" value="Modificar"/>
    </form>
    
    
</body>
</html>

