<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Modificar vehiculo</title>
    <link rel="stylesheet" type="text/css" href="/css/modificarVehiculoStyles.css">
</head>
<body>
    <h1>Datos del Vehiculo</h1>
    <a th:href="@{/vehiculo}"class="boton">Volver</a>
    <a th:href="@{/}"class="boton">Inicio</a>

    <form id="addVehiculo" th:action="@{/vehiculo/modificar/{id}}" method="post" th:object="${vehiculo}">
        
        <input type="hidden" th:field="*{id}" name="id" />
        
        <label for="marca">Marca: </label>
        <select name="marca" id="marca" form="addVehiculo">
            <option th:value="${vehiculo.marca.id}" th:text="${vehiculo.marca.nombre}"></option>
        </select>
        
        <label for="modelo">Modelo: </label>
        <select name="modelo" id="modelo" form="addVehiculo">
            <option th:value="${vehiculo.modelo.id}" th:text="${vehiculo.modelo.nombre}"></option>
        </select>

        <label for="patente">Patente: </label>
        <input type="text" id="patente" name="patente" th:value="${vehiculo.patente}"  pattern="^[A-Z0-9]+$" required title="Ingrese una patente válida (mayúsculas y números)."/>
        <span th:if="${#fields.hasErrors('patente')}" th:errors="*{patente}"></span>
        <span th:if="${error}" th:text="${error}"></span>
        <span id="patente-error" style="color: red;"></span>
        
        <label for="cliente">Cliente: </label>
        <select name="cliente" id="cliente" form="addVehiculo">
            <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre}" th:selected="${cliente.id == vehiculo.cliente.id}"></option>
        </select>   


        <label for="estado">Estado:</label>

        <select id="estado" name="estado" form="addVehiculo" th:value="${vehiculo.estado}">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>

        <input type="submit" id="modificar" name="modificar" value="Modificar"/>
    </form>
    
    <script>
        document.getElementById("addVehiculo").addEventListener("submit", function (event) {
            var patenteInput = document.getElementById("patente");
            var patenteError = document.getElementById("patente-error");

            patenteError.textContent = ""; // Limpia el mensaje de error

            if (!patenteInput.checkValidity()) {
                event.preventDefault(); // Evita que se envíe el formulario
                patenteError.textContent = patenteInput.validationMessage; // Muestra el mensaje de validación del navegador
            }
        });
    </script>
    
    
</body>
</html>