<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Modificar tecnico</title>
    <link rel="stylesheet" type="text/css" href="/css/modificarTecnicoStyles.css">
</head>
<body>
    <h1>Datos de la nuevo tecnico</h1>
    <a th:href="@{/tecnico}">Volver</a>
    <a th:href="@{/}">Inicio</a>

    <form id="addTecnico" th:action="@{/tecnico/registrado}" method="post" th:object="${tecnico}">
        <input type="hidden" th:field="*{id}" name="id" />
        
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:value="${tecnico.nombre}"/>
        
        <label for="apellido">Apellido: </label>
        <input type="text" id="apellido" name="apellido" th:value="${tecnico.apellido}"/>
        
        <label for="telefono">Telefono: </label>
        <input type="text" id="telefono" name="telefono" th:value="${tecnico.telefono}"/>

        <label for="estado">Estado:</label>
        <select id="estado" name="estado" form="addTecnico" th:value="${tecnico.estado}">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
        
        <label for="dni">DNI: </label>
        <input type="text" id="dni" name="dni" th:value="${tecnico.dni}"/>

        <input type="submit" id="registrar" name="registrar" value="Registrar"/>
    </form>
    
    
</body>
</html>

