<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Orden de trabajo</title>
        <meta charset="UTF-8">
        <!--         <link rel="stylesheet" type="text/css" href="/css/marcaStyles.css">-->
                <link rel="stylesheet" type="text/css" href="/css/marcaStyles.css">
    </head>
    <body>
        <h1>Listado de ordenes de trabajos realizadas</h1>
        <a th:href="@{/ordenDeTrabajo/nueva}">Registrar orden de trabajo</a>
        <a th:href="@{/}"> Volver </a>
        
        <div th:if="${ordenes!=null and not ordenes.isEmpty()}">
            <br>
            <div>
                <label for="clienteFiltro">Filtrar por nombre de cliente:</label>
                <input type="text" id="clienteFiltro">
                <button onclick="filtrarPorCliente()">Filtrar</button>
            </div>
            <br>
            <table id="tablaOrdenes" border="2">
                <tr>
                    <th>Cliente Nombre</th>
                    <th>Cliente Apellido</th>
                    <th>Vehiculo</th>
                    <th>Servicios</th>
                    <th>Tecnico</th>
                    <th>Informacion Relevante</th>
                    <th>Fecha de Creacion</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>

                </tr>
                <tr th:each="orden: ${ordenes}">
                    <td th:text="${orden.vehiculo.cliente.nombre}"></td>
                    <td th:text="${orden.vehiculo.cliente.apellido}"></td>
                    <td th:text="${orden.vehiculo.patente}"></td>
                    <td>
                        <ol>
                            <li th:each="servicio : ${orden.servicio}" th:text="${servicio.nombre} +' $'+ ${servicio.precio}"></li>
                        </ol>
                    </td>
                    <td th:text="${orden.tecnico != null ? orden.tecnico.nombre : 'N/A'}"></td>




                    <td th:text="${orden.informacionRelevante}"></td>
                    <td th:text="${orden.fechaCreacion}"></td>
                    <td><a th:href="@{'/ordenDeTrabajo/modificar/' + ${orden.id}}" th:text="Modificar">Modificar</a></td>
                    <td><a th:href="@{'/ordenDeTrabajo/eliminar/' + ${orden.id}}" th:text="Eliminar">Eliminar</a></td>

                </tr>

            </table>
        </div>
        <div th:if="${ordenes==null or ordenes.isEmpty()}">
            No existen orden de trabajo hasta el momento
        </div>
        
        <script>
            function filtrarPorCliente() {
                var clienteFiltro = document.getElementById("clienteFiltro").value;
                var tablaOrdenes = document.getElementById("tablaOrdenes");
                var filas = tablaOrdenes.getElementsByTagName("tr");

                for (var i = 1; i < filas.length; i++) { // Empezamos desde 1 para omitir la fila de encabezado
                    var clienteCelda = filas[i].getElementsByTagName("td")[0]; // Cambia el índice según la columna del cliente en tu tabla
                    if (clienteCelda) {
                        var cliente = clienteCelda.textContent || clienteCelda.innerText;
                        if (cliente.toUpperCase().indexOf(clienteFiltro.toUpperCase()) > -1) {
                            filas[i].style.display = ""; // Muestra la fila si coincide con el filtro
                        } else {
                            filas[i].style.display = "none"; // Oculta la fila si no coincide con el filtro
                        }
                    }
                }
            }
        </script>

    </body>
</html>