<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Porcentaje de Servicios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/marcaStyles.css"> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        #graficoContainer {
            max-width: 700px;
            margin: auto;
        }
        .titulo {
            text-align: center;
        }
    </style>
</head>
<body>

    <h1 class="titulo">Porcentaje de utilización de servicios</h1>
    <a th:href="@{/tomarFechas}" class="btn btn-success m-1">Volver</a>

    <div id="graficoContainer">
        <canvas id="graficoCircular"></canvas>
    </div>

    <script th:inline="javascript">
        var ctx = document.getElementById('graficoCircular').getContext('2d');
        var nombresServicios = /*[[${nombresServicios}]]*/ [];
        var cantidadesUtilizadas = /*[[${cantidadesUtilizadas}]]*/ [];

        var colores = Array.from({ length: nombresServicios.length }, () => '#' + Math.floor(Math.random() * 16777215).toString(16));

        var total = cantidadesUtilizadas.reduce((a, b) => a + b, 0);
        var porcentajes = cantidadesUtilizadas.map(cantidad => ((cantidad / total) * 100).toFixed(2));

        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: nombresServicios,
                datasets: [{
                    data: porcentajes,
                    backgroundColor: colores
                }]
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            return data.labels[tooltipItem.index] + ': ' + data.datasets[0].data[tooltipItem.index] + '%';
                        }
                    }
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    align: 'center',
                    labels: {
                        fontColor: 'black',
                        fontSize: 14
                    }
                }
            }
        });
    </script>
</body>
</html>
