<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Porcentaje de Servicios</title>

    <!-- Agrega Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        /* Establece un ancho máximo para el contenedor del canvas */
        #graficoContainer {
            max-width: 400px; /* Puedes ajustar este valor según tus necesidades */
            margin: auto;
        }
        .titulo{
            text-align: center;
        }
    </style>
</head>
<body>

    <h2 class="titulo">Porcentaje de utilizacion de servicios</h2>

    <!-- Contenedor del canvas con un ancho máximo -->
    <div id="graficoContainer">
        <canvas id="graficoCircular"></canvas>
    </div>

    <!-- Script para inicializar el gráfico con los datos proporcionados desde el controlador -->
    <script th:inline="javascript">
        var datos = {
            labels: [], // Nombres de los servicios
            datasets: [{
                data: [], // Cantidades utilizadas
                backgroundColor: [] // Colores para cada sector del gráfico
            }]
        };

        // Obtén el contexto del canvas
        var ctx = document.getElementById('graficoCircular').getContext('2d');

        // Obtén los datos del modelo (Thymeleaf)
        var nombresServicios = /*[[${nombresServicios}]]*/ [];
        var cantidadesUtilizadas = /*[[${cantidadesUtilizadas}]]*/ [];


        // Imprime los datos en la consola del navegador para verificar
        console.log("Nombres de Servicios (HTML):", nombresServicios);
        console.log("Cantidades Utilizadas (HTML):", cantidadesUtilizadas);

        // Genera colores aleatorios
        var colores = Array.from({length: nombresServicios.length}, () => '#' + Math.floor(Math.random()*16777215).toString(16));

        console.log("Colores:", colores);

        datos.labels = nombresServicios;
        datos.datasets[0].data = cantidadesUtilizadas;
        datos.datasets[0].backgroundColor = colores;

        // Inicializa el gráfico circular
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: datos
        });
    </script>
</body>
</html>
