<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nuevo vehiculo</title>
    <link rel="stylesheet" type="text/css" href="/css/nuevoVehiculoStyles.css">
</head>
<body>
    <h1>Datos del nuevo vehiculo</h1>
    <a th:href="@{/vehiculo}">Volver</a>
    <a th:href="@{/}">Inicio</a>
    
    <form id="addVehiculo" th:action="@{/vehiculo/registrado}" method="post" th:object="${vehiculo}">
    
        <label for="marca">Marca: </label>
        <select name="marca" id="marca" form="addVehiculo">
            <option th:each="marca : ${marcas}" th:value="${marca.id}" th:text="${marca.nombre}"></option>
        </select>
        
        <label for="modelo">Modelo: </label>
        <select name="modelo" id="modelo" form="addVehiculo">
            <option th:each="modelo : ${modelos}" th:value="${modelo.id}" th:text="${modelo.nombre}"></option>
        </select>
        
        <label for="patente">Patente:</label>
        <input type="text" id="patente" name="patente" pattern="^[A-Z1-9]+$" required title="Ingrese una patente válida (mayúsculas y números).">
        <span id="patente-error" style="color: red;"></span>
        
        <label for="cliente">Cliente: </label>
        <select name="cliente" id="cliente" form="addVehiculo">
            <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre}"></option>
        </select>    

        <label for="estado">Estado:</label>
        <select id="estado" name="estado" form="addVehiculo">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>

        <input type="submit" id="registrar" name="registrar" value="Registrar"/>
    </form>
    
    <script>
        document.getElementById("addVehiculo").addEventListener("submit", function (event) {
            var patenteInput = document.getElementById("patente");
            var patenteError = document.getElementById("patente-error");

            patenteError.textContent = ""; // Limpia el mensaje de error

            if (!patenteInput.checkValidity()) {
                event.preventDefault(); // Evita que se envíe el formulario
                patenteError.textContent = patenteInput.validationMessage; // Muestra el mensaje de validación del navegador
            }
        });
    </script>
</body>
</html>
