<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nuevo cliente</title>
    <link rel="stylesheet" type="text/css" href="/css/nuevoClienteStyles.css">
</head>
<body>
    <h1>Datos de la nuevo cliente</h1>
    <a th:href="@{/cliente}">Volver</a>
    <a th:href="@{/}">Inicio</a>

    <form id="addCliente" th:action="@{/cliente/registrado}" method="post" th:object="${cliente}">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"/>
        
        <label for="apellido">Apellido: </label>
        <input type="text" id="apellido" name="apellido"/>
        
        <label for="telefono">Telefono: </label>
        <input type="text" id="telefono" name="telefono"/>

        <label for="estado">Estado:</label>
        
        <select id="estado" name="estado" form="addCliente">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
        
        <label for="dni">DNI:  </label>
        <input type="text" id="dni" name="dni"/>

        <input type="submit" id="registrar" name="registrar" value="Registrar"/>
    </form>
</body>
</html>
