<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nuevo modelo</title>
    <link rel="stylesheet" type="text/css" href="/css/nuevoModeloStyles.css">
</head>
<body>
    <h1>Datos del nuevo modelo</h1>
    <a th:href="@{/modelo}">Volver</a>
    <a th:href="@{/}">Inicio</a>

    <form id="addModelo" th:action="@{/modelo/registrado}" method="post" th:object="${modelo}">
        
        <label for="marca">Marca: </label>
        <select name="marca" id="marca" form="addModelo">
            <option th:each="marca : ${marcas}" th:value="${marca.id}" th:text="${marca.nombre}"></option>
        </select>

        
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"/>

        <label for="estado">Estado:</label>

        <select id="estado" name="estado" form="addModelo">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
        
        <label for="anio">Año: </label>
        <input type="text" id="anio" name="anio"/>

        <input type="submit" id="registrar" name="registrar" value="Registrar"/>
    </form>
</body>
</html>