<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nueva orden de trabajo</title>
            <link rel="stylesheet" type="text/css" href="/css/marcaStyles.css">
</head>
<body>
    <h1>Datos de la nueva orden de trabajo</h1>
    <a th:href="@{/ordenDeTrabajo}">Volver</a>
    <a th:href="@{/}">Inicio</a>

    <form id="addOrdenDeTrabajo" th:action="@{/ordenDeTrabajo/registrada}" method="post" th:object="${ordenDeTrabajo}">
        <div>
            <label for="vehiculo">Vehículo: </label>
            <select name="vehiculo" id="vehiculo">
                <option value="">Seleccionar Vehículo</option>
                <option th:each="vehiculo : ${vehiculos}" th:value="${vehiculo.id}" th:text="${vehiculo.patente}"></option>
            </select>
        </div>

        <div>
            <label>Servicios:</label>
            <div th:each="servicio : ${servicios}">
                <input type="checkbox" th:id="${'servicio_' + servicio.id}" th:name="servicios" th:value="${servicio.id}"/>
                <label th:for="${'servicio_' + servicio.id}" th:text="${servicio.nombre}"></label><br/>
            </div>
        </div>

        <div>
            <label for="tecnico">Técnico:</label>
            <select name="tecnico" id="tecnico">
                <option value="">Seleccionar Técnico</option>
                <option th:each="tecnico : ${tecnicos}" th:value="${tecnico.id}" th:text="${tecnico.nombre}"></option>
            </select>
        </div>

        <div>
            <label for="fechaCreacion">Fecha: </label>
            <input placeholder="dd/mm/yyyy" type="text" id="fechaCreacion" name="fechaCreacion"/>
            <span th:if="${#fields.hasErrors('fechaCreacion')}" th:errors="*{fechaCreacion}"></span>
        </div>

        <div>
            <label for="informacionRelevante">Información Relevante: </label>
            <input type="text" id="informacionRelevante" name="informacionRelevante"/>
            <span th:if="${#fields.hasErrors('informacionRelevante')}" th:errors="*{informacionRelevante}"></span>
        </div>

        <div>
            <input type="submit" id="registrar" name="registrar" value="Registrar"/>
        </div>
    </form>

</body>
</html>
