<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nueva orden de trabajo</title>
    <link rel="stylesheet" type="text/css" href="/css/ordenDeTrabajo.css">
</head>
<body>
    <h1>Datos de la nueva orden de trabajo</h1>
    <a th:href="@{/ordenDeTrabajo}">Volver</a>
    <a th:href="@{/}">Inicio</a>

    <form id="addOrdenDeTrabajo" th:action="@{/ordenDeTrabajo/registrada}" method="post" th:object="${ordenDeTrabajo}">
        <div>
            <label for="vehiculo">Vehículo:</label>
            <select name="vehiculo" id="vehiculo" required>
                <option value="">Seleccionar Vehículo</option>
                <option th:each="vehiculo : ${vehiculos}" th:value="${vehiculo.id}" th:text="${vehiculo.patente}" data-precio="${servicio.precio}"></option>
            </select>
        </div>

        <div>
            <label>Servicios:</label>
            <div th:each="servicio : ${servicios}">
                <label>
                    <span th:text="${servicio.nombre} +' $'+ ${servicio.precio}" style="color: black;"></span>
                    <input type="checkbox" th:id="${'servicio_' + servicio.id}" th:name="servicios" th:value="${servicio.id}" th:attr="data-precio=${servicio.precio}"/>
                </label>
            </div>
        </div>
        
        <div>
            <a th:href="@{/servicio/nuevo}" target="blank">Servicio Nuevo</a>
        </div>

        <div>
            <label for="tecnico">Técnico:</label>
            <select name="tecnico" id="tecnico" required>
                <option value="">Seleccionar Técnico</option>
                <option th:each="tecnico : ${tecnicos}" th:value="${tecnico.id}" th:text="${tecnico.nombre}"></option>
            </select>
        </div>

        <div>
            <label for="fechaCreacion">Fecha:</label>
            <input placeholder="dd/mm/yyyy" type="text" id="fechaCreacion" name="fechaCreacion" pattern="\d{2}/\d{2}/\d{4}" required title="Utilice formato dd/mm/yyyy"/>
            <span th:if="${#fields.hasErrors('fechaCreacion')}" th:errors="*{fechaCreacion}"></span>
        </div>

        <div>
            <label for="informacionRelevante">Información Relevante:</label>
            <input type="text" id="informacionRelevante" name="informacionRelevante" required/>
            <span th:if="${#fields.hasErrors('informacionRelevante')}" th:errors="*{informacionRelevante}"></span>
        </div>
        
        <div>
            <p>Subtotal: $<span id="subtotal"></span></p>
        </div>

        <div>
            <input type="submit" id="registrar" name="registrar" value="Registrar" onclick="return validarServicios();"/>
        </div>
    </form>
    

    <script>
    // Obtener los elementos de entrada de tipo checkbox
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

    // Obtener el elemento del subtotal
    const subtotalElement = document.getElementById("subtotal");

    function actualizarSubtotal() {
        let subtotal = 0;
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                const precioStr = checkbox.getAttribute("data-precio");
                const precioServicio = parseFloat(precioStr);
                console.log(precioServicio);
                subtotal += precioServicio;
            }
        });
        subtotalElement.innerHTML = subtotal;
    }


        // Agregar un evento "change" a cada checkbox para llamar a la función de actualización
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener("change", actualizarSubtotal);
        });

        // Llamar a la función de actualización al cargar la página
        actualizarSubtotal();
    </script>

    <script>
    function validarServicios() {
        var checkboxes = document.querySelectorAll("input[type='checkbox']");
        var servicioSeleccionado = false;

        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                servicioSeleccionado = true;
            }
        });

        if (!servicioSeleccionado) {
            alert("Seleccione al menos un servicio antes de registrar.");
            return false;
        }

        // Obtener la fecha actual
        var fechaActual = new Date();
        
        // Obtener la fecha ingresada desde el campo de entrada
        var fechaIngresada = document.getElementById("fechaCreacion").value;
        
        // Convertir la fecha ingresada a un objeto de fecha JavaScript
        var partesFecha = fechaIngresada.split("/");
        var fechaFormulario = new Date(partesFecha[2], partesFecha[1] - 1, partesFecha[0]);

        // Comparar la fecha ingresada con la fecha actual
        if (fechaFormulario > fechaActual) {
            alert("La fecha ingresada no debe ser posterior a la fecha actual.");
            return false;
        }

        return true;
    }

    </script>
</body>
</html>