<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Servicio</title>
    <link rel="stylesheet" type="text/css" href="/css/ordenDeTrabajo.css">
</head>
<body>
    <h1>Datos del nuevo servicio</h1>
    <a th:href="@{/servicio}">Volver</a>
    <a th:href="@{/}">Inicio</a>

    <form id="addMarca" th:action="@{/servicio/registrado}" method="post" th:object="${servicio}">
        
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" pattern="[a-z\s]+" required title="Solo letras minusculas"/>
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
        <span id="nombre-error" class="error"></span>
        
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion"/>
        <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>

        <input type="submit" id="registrar" name="registrar" value="Registrar"/>
    </form>

    <script>
        document.getElementById("addMarca").addEventListener("submit", function (event) {
            var nombreInput = document.getElementById("nombre");
            var nombreError = document.getElementById("nombre-error");
            
            nombreError.textContent = "";

            if (!nombreInput.checkValidity()) {
                event.preventDefault();
                nombreError.textContent = "Ingrese solo letras minúsculas.";
            }
        });
    </script>
</body>
</html>
