<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nuevo tecnico</title>
    <link rel="stylesheet" type="text/css" href="/css/nuevoTecnicoStyles.css">
</head>
<body>
    <h1>Datos de la nuevo tecnico</h1>
    <a th:href="@{/tecnico}">Volver</a>
    <a th:href="@{/}">Inicio</a>

    <form id="addTecnico" th:action="@{/tecnico/registrado}" method="post" th:object="${tecnico}">
<label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"/>
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
        
        <label for="apellido">Apellido: </label>
        <input type="text" id="apellido" name="apellido"/>
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
        
        <label for="telefono">Telefono: </label>
        <input type="text" id="telefono" name="telefono"/>
        <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
        
        <label for="email">Email: </label>
        <input type="text" id="email" name="email"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        
        <label for="direccion">Direccion: </label>
        <input type="text" id="direccion" name="direccion"/>
        <span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></span>
        
        
        <label for="estado">Estado:</label>
        <select id="estado" name="estado" form="addCliente">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
        
        <label for="dni">DNI:  </label>
        <input type="text" id="dni" name="dni"/>
        <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
        <span th:if="${error}" th:text="${error}"></span>

        <input type="submit" id="registrar" name="registrar" value="Registrar"/>
    </form>
</body>
</html>
