<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gráfico de Barras - Duración por Técnico</title>
    <!-- Agrega las referencias necesarias para el gráfico de barras -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<div>
    <h2>Gráfico de Barras - Duración por Técnico</h2>
    
    <!-- Agrega un contenedor para el gráfico -->
    <div id="bar-chart"></div>

    <script th:inline="javascript">
        /* Obtiene los datos del modelo */
        var nombresTecnicos = /*[[${nombresTecnicos}]]*/ [];
        var duraciones = /*[[${duraciones}]]*/ [];
        
        /* Prepara los datos para Plotly */
        var data = [{
            x: nombresTecnicos,
            y: duraciones,
            type: 'bar',
            marker: {
                color: 'blue'
            }
        }];

        /* Define el diseño del gráfico */
        var layout = {
            title: 'Duración por Técnico',
            xaxis: {
                title: 'Técnico'
            },
            yaxis: {
                title: 'Duración (días)'
            }
        };

        /* Crea el gráfico de barras con Plotly */
        Plotly.newPlot('bar-chart', data, layout);
    </script>
</div>

</body>
</html>
